<div class="header">O projekte</div>
<div class="content">
  <p>
    Tento projekt vznikol aby jednoduchou a prehľadnou formou poskytol voličom
    podrobnejšie informácie o kandidátkach jednotlivých politických subjektov,
    ktoré kandidujú vo voľbách do slovenského parlamentu 2020.
  </p>
  <p>
    Dáta pre jednotlivé vizualizácie boli získané z oficiálnych kandidátskych
    listín zverejnených na webstránke Ministerstva vnútra SR. Za prípadné
    nepresnosti autor nenesie žiadnu zodpovednosť.
  </p>
  <div>
    <strong>Vysvetlenie zobrazovaných hodnôt:</strong><br />
    Zamestnanie kandidátov strán
    <ul>
      <li>Podnikatelia - podnikateľ/ka, živnostník/čka, SZČO</li>
      <li>Nezamestnaní - nezamestnaný/ná</li>
      <li>Dôchodci - dôchodca/dôchodkyňa, invalidný/výsluhový</li>
    </ul>
  </div>
</div>
