.navigation-bar {
  padding-bottom: 28px;
}

.arrow {
  text-align: center;
  display: inline-block;
  width: 150px;
  padding: 8px;
  font-weight: 800;
  cursor: pointer;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.719);
  border-radius: 6px;
}

.arrow:first-of-type {
  margin-right: 16px;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  height: 150px;
}

.text-box {
  display: inline-block;
  padding: 0 16px;
  text-align: left;
}

.name {
  font-size: 25px;
  padding-bottom: 8px;
  font-weight: 600;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.096);
  text-decoration: underline;
}

.graphs {
  padding: 28px 16px 16px 16px;
}

.chart {
  width: 50%;
  height: 450px;
  display: inline-block;
  padding: 16px 0;
}

@media only screen and (max-width: 850px) {
  .chart {
    width: 100%;
    display: block;
  }
}
