<div class="header">
  <div class="max-width">
    <div class="container" (click)="showPage(overview)">
      <div class="logo"></div>
      <div class="label">Parlamentné voľby 2020</div>
    </div>
    <div class="description">
      Analýza kandidátnych listín politických strán, ktoré kandidujú do
      parlamentných volieb 2020
    </div>
  </div>

  <div class="menu">
    <div class="max-width">
      <div class="menu-item" (click)="showPage(overview)">
        Kandidujúce strany
      </div>
      <div class="menu-item" (click)="showPage(comparison)">
        Porovnanie strán
      </div>
      <div class="menu-item" (click)="showPage(about)">O projekte</div>
    </div>
  </div>
</div>

<div class="content">
  <div class="max-width">
    <app-overview
      *ngIf="isOverview"
      (itemClicked)="showParty($event)"
    ></app-overview>

    <app-party
      *ngIf="isParty"
      [partyId]="showedParty"
      (navLeft)="showNextParty(true)"
      (navRight)="showNextParty(false)"
    ></app-party>

    <app-comparison *ngIf="isComparison"></app-comparison>

    <app-about *ngIf="isAbout"></app-about>
  </div>
</div>

<div class="footer">
  <div class="max-width text">
    Všetky dáta sú získané analýzou verejne dostupných kandidátnych listín
    jednotlivých politických subjektov, zverejnených na
    <a href="http://www.minv.sk/?volby-nrsr"
      >webstránke Ministerstva vnútra SR</a
    >.
  </div>
  <div>Created by Tomáš Blázy | &copy; 2020</div>
</div>
