.header {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 24px;
}

.party {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  padding: 8px;
  width: 400px;
  min-height: 105px;
  margin: 0 5px 5px 0;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.party:hover {
  background-color: rgba(0, 0, 0, 0.137);
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  .party {
    width: 100%;
    display: block;
  }
}

.logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  width: 65px;
  height: 65px;
}

.text-box {
  margin-left: 21px;
  display: inline-block;
  width: calc(100% - 90px);
}

a:hover {
  background-color: rgba(0, 0, 0, 0.096);
  text-decoration: underline;
}
