<div class="header">
  <div class="title">Štatistiky kandidátov politických strán</div>
  <div class="description">
    Pre zachovanie prehľadnosti sú uvádzané iba politické strany, ktoré sa v
    predvolebných prieskumoch preferencií pohybovali nad hranicou 3%
  </div>
</div>

<div class="graphs">
  <div id="chart-avg-age" class="chart"></div>
  <div id="chart-age" class="chart"></div>
  <div id="chart-education" class="chart"></div>
  <div id="chart-job" class="chart"></div>
  <div id="chart-geo" class="chart"></div>
</div>
