/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");

html {
  display: block;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  min-width: 150px;
}

a {
  text-decoration: none;
  color: inherit;
}

.max-width {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.clear {
  clear: both;
}

/* For desktop: */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media only screen and (max-width: 650px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .flex {
    display: block;
  }
}

.logo1 {
  background-image: url("./assets/1.jpeg");
}
.logo2 {
  background-image: url("./assets/2.png");
}
.logo3 {
  background-image: url("./assets/3.jpeg");
}
.logo4 {
  background-image: url("./assets/4.jpeg");
}
.logo5 {
  background-image: url("./assets/5.png");
}
.logo6 {
  background-image: url("./assets/6.png");
}
.logo7 {
  background-image: url("./assets/7.jpeg");
}
.logo8 {
  background-image: url("./assets/8.png");
}
.logo9 {
  background-image: url("./assets/9.jpeg");
}
.logo10 {
  background-image: url("./assets/10.png");
}
.logo11 {
  background-image: url("./assets/11.jpeg");
}
.logo12 {
  background-image: url("./assets/12.png");
}
.logo13 {
  background-image: url("./assets/13.png");
}
.logo14 {
  background-image: url("./assets/14.png");
}
.logo15 {
  background-image: url("./assets/15.jpeg");
}
.logo16 {
  background-image: url("./assets/16.jpeg");
}
.logo17 {
  background-image: url("./assets/17.jpeg");
}
.logo18 {
  background-image: url("./assets/18.png");
}
.logo19 {
  background-image: url("./assets/19.png");
}
.logo20 {
  background-image: url("./assets/20.png");
}
.logo21 {
  background-image: url("./assets/21.jpeg");
}
.logo22 {
  background-image: url("./assets/22.png");
}
.logo23 {
  background-image: url("./assets/23.jpeg");
}
.logo24 {
  background-image: url("./assets/24.png");
}
.logo25 {
  background-image: url("./assets/25.png");
}
